.red { 
  background-color: red;
  grid-area: red;
  border-top-left-radius: 100%;
}
.yellow { 
  background-color: yellow;
  grid-area: yellow;
  border-top-right-radius: 100%;
}
.green { 
  background-color: green;
  grid-area: green;
  border-bottom-left-radius: 100%;
}
.blue {
  background-color: blue;
  grid-area: blue;
  border-bottom-right-radius: 100%;
}

body {
  width: 100%;
}
.container {
  width: min-content;
  margin: 0 auto;
  padding: 100px 0;
  display: grid;
  grid-template-areas: "red yellow" 
                       "green blue";
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(2, 200px);
}

.container > div {
  /* width: 300px;
  height: 300px; */
}