.red { 
  background-color: rgb(237 41 44);
  grid-area: red;
  border-top-left-radius: 100%;
}
.green { 
  background-color: rgb(58 207 57);
  grid-area: green;
  border-top-right-radius: 100%;
}
.yellow { 
  background-color: rgb(255 205 11);
  grid-area: yellow;
  border-bottom-left-radius: 100%;
}
.blue {
  background-color: rgb(78,192,236);
  grid-area: blue;
  border-bottom-right-radius: 100%;
}

body {
  width: 100%;
  text-align: center;
}
button {
  width: 111px;
  height: 42px;
}
.container {
  width: min-content;
  margin: 0 auto;
  padding: 100px 0;
  display: grid;
  grid-template-areas: "red green" 
                       "yellow blue";
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(2, 200px);
}